<p>Hello <%= @user.name %></p>

<p>Thank you for registering for this sample app!</p>
<p>Please checkout <%= link_to "your profile", user_path(@user) %>, and start posting!</p>

<p>Thanks again,</p>
<p>Peter Liu</p>